<nav class="navigation page">
  <h2 class="sr-only">Main Navigation Menu</h2>
  <h3 class="sr-only">Social Media</h3>
  <ul class="sociallinks">
    {%- for service in site.social -%}
      {%- for icon in site.data.socialicons -%}
        {%- if service.name == icon.name -%}
    <li><a href="https://{{ service.url }}{{ service.handle | cgi_escape | escape }}">
      <span class="navicon fa fa-{{ icon.fa }}" aria-hidden="true"></span>
      <span class="sr-only">{{ service.name }}</span>
    </a></li>
        {%- endif -%}
      {%- endfor -%}
    {%- endfor -%}
  </ul>
  <h3 class="sr-only">Site Navigation</h3>
  <ul class="sitelinks">
    <label for="navigation-expand-links"><span class="navbutton fa fa-bars" aria-hidden="true"></span></label>
    <input type="checkbox" id="navigation-expand-links" role="button">
    <li><a {% if page.url == "/" %} class="active"{% endif %} href="{{ site.baseurl | prepend: site.url }}/">
      <span>Home</span>
      {%- if page.url == "/" -%}<span class="sr-only">(current)</span>{%- endif -%}
    </a></li>
    {%- for current in site.pages -%}
    {%- if current.title -%}
    <li><a {% if page.url == current.url %} class="active" {% endif %} href="{{ current.url | prepend: site.baseurl | prepend: site.url }}">
      <span>{{ current.title }}</span>
    </a></li>
      {%- endif -%}
    {%- endfor -%}
  </ul>
</nav>
